on:
  push:
  workflow_dispatch:

jobs:
  run-build-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0'

      - name: Run Build Project
        run: dotnet run --project Build/Build.csproj